@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$font-family: "Ubuntu Mono";

html, body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  height: 100%;
}

body {
  background: fade-out(#000, 0.97);
  > .ember-view {
    height: 100%;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.ui-input-file {
  position: relative;
  display: inline-block;
  position: relative;
  overflow: hidden;
  > .input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    outline: none;
    opacity: 0.00001;
  }
  > .details {
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 3px;
    > .prefix {
      color: #777;
    }
    > .name {
      font-weight: 600;
    }
  }
  &:hover {
    > .details {
      background: fade-out(#ddd, 0.8);
    }
  }
}

.ui-route-files-new {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .content {
    background: #fff;
    border-top: 1px solid fade-out(#000, 0.9);
    border-bottom: 1px solid fade-out(#000, 0.9);
    width: 100%;
    padding: 25px;
    > .upload {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      > .info {
        margin-left: 15px;
      }
    }
  }
}

.ui-route-files-file-index {
  > .content {
    height: 100vh;
    padding: 25px 0;
    > a {
      display: block;
      height: 100%;
      > .image {
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  > .footer {
    padding: 0 25px 25px 25px;
    text-align: center;
    > a {
      display: inline-block;
      text-decoration: none;
      color: #000;
      font-size: 13px;
      border: 1px solid #ddd;
      padding: 6px 12px;
      border-radius: 3px;
      background: #fff;
    }
  }
}
