service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid}/pictures/{pid} {
      allow read: if request.auth.uid == uid;
    }

  }
}
