service firebase.storage {
  match /b/{bucket}/o {

    match /users/{uid}/pictures/{pid}/original {
      allow write: if request.auth.uid == uid;
    }

  }
}
